

ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  margin-right: 20px;
}

li:last-child {
  margin-right: 0;
}

a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: all 0.3s ease;
}

a:hover {
  color: #ff69b4;
}

.logo-container:hover img {
  filter: brightness(0) invert(1);
}


/* Estilos para la navegación */
nav {
   background-color: #ff69b4;
   padding: 10px 0;
   text-align: center;
}
nav ul {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
}
nav li {
   margin: 0 10px;
}
nav a {
   color: #fff;
   text-decoration: none;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   padding: 10px;
   border-radius: 10px;
   transition: all 0.3s ease-in-out;
}
nav a:hover {
   background-color: #fff;
   color: #ff69b4;
}

/* Estilos para el contenido principal */
main {
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   font-family: 'Roboto', sans-serif;
}

.imagen-espaciada {
   margin: 20px;
   align-items: center;
}

.Populares {
  text-align: center;
}


.Populares img {
   margin-right: 20px;
   margin-bottom: 20px;
   border-radius: 10px;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
   transition: transform 0.2s ease-in-out;
}

section {
   margin: 40px 0;
}
section h2 {
   font-family: 'Pacifico', cursive;
   font-size: 40px;
   color: #ff69b4;
   margin-bottom: 20px;
   text-align: center;
}
section p {
   font-size: 18px;
   line-height: 1.5;
   color: #555;
}

h3 {
   color:#ff69b4;
   font-family: 'Roboto', sans-serif;
   text-align: center;
}

.gallery {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding: 30px;
}
.image-barbie {
   margin: 10px;
   max-width: 300px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.Peliculas img {
   margin-right: 20px;
   margin-bottom: 20px;
}

.Peliculas {
   display: flex;
   overflow-x: scroll;
   scroll-behavior: smooth;
}

.carousel__button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background: none;
   border: none;
   font-size: 2rem;
   color: #ccc;
   cursor: pointer;
}

.carousel__button--left {
   left: 0;
}

.carousel__button--right {
   right: 0;
}

/* Estilos para el pie de página */
footer {
   background-color: #ff69b4;
   color: #fff;
   text-align: center;
   padding: 10px;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
}

.zoom {
  transition: transform 0.3s ease;
}

.zoom:hover {
  transform: scale(1.1);
}


